/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    font-size: 6.5em;
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.letter-spacing-6 {
    letter-spacing: 6px;
}

.title {
    margin-bottom: 40px;
}

.spotify-player {
}

.contact {
    margin-top: 40px;
}

/* Custom Button Styles */

.btn-dark {
    transition: background-color 0.15s ease, color 0.15s ease;
    -webkit-transition: background-color 0.15s ease, color 0.15s ease;
    -moz-transition: background-color 0.15s ease, color 0.15s ease;
    -o-transition: background-color 0.15s ease, color 0.15s ease;
    border-radius: 2px;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark.btn-resume,
.btn-dark.btn-contact {
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-dark.btn-resume:hover,
.btn-dark.btn-resume:focus,
.btn-dark.btn-resume:active {
    color: #fff;
    background-color: rgba(39,105,239,1);
}

.btn-dark.btn-contact:hover,
.btn-dark.btn-contact:focus,
.btn-dark.btn-contact:active {
    color: #000;
    background-color: rgba(255,210,58,1);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}


.btn-light {
    transition: background-color 0.15s ease;
    -webkit-transition: background-color 0.15s ease;
    -moz-transition: background-color 0.15s ease;
    -o-transition: background-color 0.15s ease;
    border-radius: 2px;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

hr.about-hr {
  margin: auto;
  width: 80%;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item a {
    color: #434343;
}

.portfolio-item a:hover {
    text-decoration: none;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.bg-primary {
    background-color: #434343;
}


.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Footer */

footer {
    padding: 100px 0;
}

ul.icon-list li a i {
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    color: #434343;
}

.apple-music-icon > a > i:hover {
    color: #FF365D;
}
.spotify-icon > a > i:hover {
    color: #2FD565;
}
.soundcloud-icon > a > i:hover {
    color: #FF8800;
}

ul.contact-list li a {
    color: #434343;
}

#to-top {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}
