/* Global Styles */

html,
body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.letter-spacing-6 {
    letter-spacing: 6px;
}

/* Custom Button Styles */

.btn {
  border: none;
  border-radius: 3px;
}

.btn-dark {
    transition: background-color 0.15s ease, color 0.15s ease;
    -webkit-transition: background-color 0.15s ease, color 0.15s ease;
    -moz-transition: background-color 0.15s ease, color 0.15s ease;
    -o-transition: background-color 0.15s ease, color 0.15s ease;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark.btn-resume,
.btn-light.btn-contact {
    transition: background-color 0.3s ease, color 0.3s ease;
    -webkit-transition: background-color 0.3s ease, color 0.3s ease;
    -moz-transition: background-color 0.3s ease, color 0.3s ease;
    -o-transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-light.btn-contact {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn-dark.btn-resume:hover,
.btn-dark.btn-resume:focus,
.btn-dark.btn-resume:active {
    color: #fff;
    background-color: rgba(39,105,239,1);
}

.btn-light.btn-contact:hover,
.btn-light.btn-contact:focus,
.btn-light.btn-contact:active {
    color: #000;
    background-color: rgba(255,210,58,1);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}


.btn-light {
    transition: background-color 0.15s ease;
    -webkit-transition: background-color 0.15s ease;
    -moz-transition: background-color 0.15s ease;
    -o-transition: background-color 0.15s ease;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
}

#menu-close {
    margin-left: 6px;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: grid;
    grid-gap: 15px;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.header-content {
    padding-top: 10vh;
    padding-bottom: 10vh;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header-content h1 {
    font-size: 6.5vw;
    font-weight: 700;
}

.title {
    margin-bottom: 40px;
}

.spotify-player {

}

.contact {
    margin-top: 40px;
}

/* About */

.about {
    padding: 50px 0;
}

hr.about-hr {
  margin: auto;
  width: 80%;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item a {
    color: #434343;
}

.portfolio-item a:hover {
    text-decoration: none;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    color: #fff;
    background-color: #434343;
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Footer */

footer {
    padding: 100px 0;
}

ul.icon-list li a i {
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    color: #434343;
}

.apple-music-icon > a > i:hover {
    color: #FF365D;
}
.spotify-icon > a > i:hover {
    color: #2FD565;
}
.soundcloud-icon > a > i:hover {
    color: #FF8800;
}

ul.contact-list li a {
    color: #434343;
}

#to-top {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

/* Background Marquee */
.mountain-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  z-index: 0;
  background-color: #f2f2f2;
}

.mountain-container > .mountain {
  width: 800vh;
  height: 100vh;
  position: absolute;
  background-repeat: repeat-x;
  background-position: bottom;
  background-attachment: scroll;
  background-size: auto;
}

.layer-01 {
  animation: marquee 40s linear infinite;
  background-image: url(../img/mountain/4x/01-4x.svg);
}
.layer-02 {
  animation: marquee 35s linear infinite;
  background-image: url(../img/mountain/4x/02-4x.svg);
}
.layer-03 {
  animation: marquee 30s linear infinite;
  background-image: url(../img/mountain/4x/03-4x.svg);
}
.layer-04 {
  animation: marquee 25s linear infinite;
  background-image: url(../img/mountain/4x/04-4x.svg);
}
.layer-05 {
  animation: marquee 20s linear infinite;
  background-image: url(../img/mountain/4x/05-4x.svg);
}
.layer-06 {
  animation: marquee 15s linear infinite;
  background-image: url(../img/mountain/4x/06-4x.svg);
}

@keyframes marquee {
  0% { right: -400vh; }
  100% { right: 0; }
}
